# Creating the Database

The price data for BTC is present in "btc_data.csv" which is what we will be initially using for testing the models. A more comprehensive list of Crypto Assets will be used later to create a more robust strategy.

In [35]:


import warnings
warnings.filterwarnings('ignore')

In [36]:
from pathlib import Path
import requests
from io import BytesIO
from zipfile import ZipFile, BadZipFile

import numpy as np
import pandas as pd
import pandas_datareader.data as web
from sklearn.datasets import fetch_openml

pd.set_option('display.expand_frame_repr', False)

In [37]:
DATA_STORE = Path('assets.h5')

In [38]:
df = (pd.read_csv('btc_dta.csv',
                 parse_dates=['date'],
                 index_col=['date'],
                 infer_datetime_format=True)
     .sort_index())

print(df.info(null_counts=True))
with pd.HDFStore(DATA_STORE) as store:
    store.put('Crypto/prices', df)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1030 entries, 2019-03-08 to 2022-03-10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   close   1030 non-null   float64
 1   open    1030 non-null   float64
 2   high    1030 non-null   float64
 3   low     1030 non-null   float64
dtypes: float64(4)
memory usage: 40.2 KB
None

In [39]:
df.head()

             close    open    high     low
date
2019-03-08  3865.9  3875.1  3929.0  3810.7
2019-03-09  3944.4  3865.9  3964.0  3859.7
2019-03-10  3915.2  3944.3  3944.5  3889.2
2019-03-11  3865.1  3915.6  3935.5  3842.4
2019-03-12  3886.0  3870.3  3900.1  3817.1